body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
}

.header {
    text-align: center;
    margin: 20px;
    font-size: 36px;
    color: #333;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center !important;
}

    .card img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 15px;
        text-align: center;
        display: block;
        margin: auto;
    }

.center img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.card-description {
    color: #666;
    margin-bottom: 20px;
}

.card-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; /* Add a smooth transition for background color and text color */
    /* Add a hover effect */
    &:hover
{
    background-color: #3BC440; /* Set the lighter background color for the hover effect */
    color: #fff; /* Set the text color for the hover effect */
    text-decoration: none; /* Underline the text on hover */
}
}
