table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 300px;
}

th {
    border: 1px solid black;
    padding: 8px;
    background-color: #ededed;
    text-align: center;
    width: 190px;
}

td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}